extends layout.pug
block background
  |body{background-image: radial-gradient(circle, #c11d62, #bf0078, #b30094, #9900b5, #6122d6);}
block title
  a(href="/") Chancelor The Musician Who Takes Part In The Artform Known As Rapping
block content
  ul
    li="IGH"
    li="IGH"
    li="IGH"
    li="IGH"
    li="3 HAT"
    li="IGH"
    li="IGH"
    li="NO PROBLEMS"
    li="IGH"
    li="IGH"
    li="I KNOW KANYE"
    li="IGH"
    li="I HAVE A DAUGHTER"
    li="IGH"
